# fly.toml app configuration file generated for hotel-management-software-api on 2025-12-03T23:03:07Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hotel-management-software-api'
primary_region = 'lhr'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[env]
  PORT = "8080"
  NODE_ENV = "production"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1